
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.container{
    box-shadow: 0px 0px 20px lightgray;
    
    
}



.logo{
    display: block;
    margin-right: auto;
    margin-left: auto;

}